/* header s */
.scene__animated {
    position: relative;
}
.scene__page-header {
    margin-bottom: 64px;
}
.scene__page-header-title-wrap {
    margin-bottom: 64px;
}
.scene__page-header-title {
    line-height: 72px;
    font-size: 64px;
    font-weight: 300;
}
.scene__page-header-title p + p {
    margin-top: 48px;
}

.scene__page-header-description-text {
    line-height: 24px;
    font-size: 16px;
}
.scene__page-header-description-text + .scene__page-header-description-text {
    margin-top: 32px;
}
.scene__page-header-description-extra {
    margin-top: 25px;
    line-height: 24px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #646464;
    opacity: 0.5;
}
/* header e */

/* footer s */
.scene__page-footer {
    margin-top: 64px;
}
.scene__page-footer-label {
    line-height: 20px;
    font-size: 14px;
    opacity: 0.5;
}
.scene__page-footer-label {
    margin-bottom: 28px;
}
.scene__page-footer-title {
    line-height: 64px;
    font-size: 56px;
    font-weight: 300;
}
/* footer e */


/* information s */
.scene__page-footer-information {
    margin-top: 64px;
}
.scene__page-footer-information-item {
    line-height: 24px;
    font-size: 16px;
    line-height: 1.5;
}
.scene__page-footer-information-item + .scene__page-footer-information-item {
    margin-top: 16px;
}

.scene__page-footer-information-footer {
    margin-top: 32px;
}
.scene__page-footer-information-site {
    margin-top: 32px;
    font-size: 0;
}
.scene__page-footer-information-site-link {
    margin-right: 30px;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    font-size: 0;
    text-align: center;
}
.scene__page-footer-information-site-link:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0px;
    height: 100%;
    visibility: hidden;
}
.scene__page-footer-information-site-link i {
    opacity: 0.5;
}
.scene__page-footer-information-site-link:hover i {
    opacity: 1;
}
/* information e */
