.sence-login {
    font-size: 0px;
    text-align: center;
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1
}
.sence-login:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0px;
    height: 100%;
    font-size: 0px;
}
.sence-login__content {
    display: inline-block;
    vertical-align: middle;
}
.sence-login .sence__input-text {
    text-align: center;
}