/* header s */
.scene-detail .scene__page-header {
    margin-bottom: 96px;
}
/* header e */

/* body s */
.scene-detail__box + .scene-detail__box {
    margin-top: 64px;
}
.scene-detail__image {
    display: block;
    width: 100%;
    height: auto;
}
/* body e */

/* carousel s */
.scene-detail .scene__carousel {
    padding: 32px 0;
}
/* carousel e */

/* footer s */
.scene-detail .scene__page-footer-inner {
    padding-top: 32px;
    border-top: 1px solid #646464;
}
/* footer e */