.scene-contact {
    color: #ffffff;
}

/* form s */
.scene-contact .scene__form-footer {
    text-align: right;
}
/* form e */


/* map s */
.scene-contact__map {
    margin-top: 96px;
    position: relative;
    padding-top: 38%;
    width: 100%;
}
.scene-contact__map-inner {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}
/* map e */

@media screen and (max-width: 1024px) {
    .scene-contact__map {
        margin-top: 64px;
    }
}

@media screen and (max-width: 768px) {
    .scene-contact__map {
        margin-top: 52px;
    }
}

@media screen and (max-width: 600px) {
    .scene-contact__map {
        margin-top: 64px;
    }

    .scene-contact__map {
        padding-top: 106.6667%;
    }
}