[class*=sence-icon-], [class^=sence-icon-] {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.sence-icon-arrow-right {
    width: 49px;
    height: 39px;
    background-image: url(../image/icon/icon-arrow-right.png);
}

.sence-icon-fb {
    width: 10px;
    height: 20px;
    background-image: url(../image//icon/icon-fb.png); 
}
.sence-icon-tw {
    width: 20px;
    height: 16px;
    background-image: url(../image//icon/icon-tw.png); 
}
.sence-icon-in {
    width: 18px;
    height: 18px;
    background-image: url(../image//icon/icon-in.png); 
}
.sence-icon-ig {
    width: 18px;
    height: 18px;
    background-image: url(../image//icon/icon-ig.png); 
}