html {
    height: 100%;
}
body {
    color: #1a1a1a;
    font-family: OpenSans;
    font-weight: 300;
    height: 100%;
}

input:focus,
button:focus {
    outline: none;
}

input::-webkit-input-placeholder{
    color: rgba(255, 2555, 255, .5);
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color: rgba(255, 2555, 255, .5);
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color: rgba(255, 2555, 255, .5);
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color: rgba(255, 2555, 255, .5);
}

.app {
    transition: background-color 1s;
    -moz-transition: background-color 1s;
    -webkit-transition: background-color 1s;
    -o-transition: background-color 1s;
}

.scene__container {
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.scene__waiting {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    pointer-events: none;
}

.scene__waiting.dark {
    color: #1a1a1a;
}

.scene__waiting.light {
    color: #f1f1f1;
}

.app.scene__screen_full,
.app.scene__screen_full .scene,
.app.scene__screen_full .scene__layout {
    height: 100%;
    overflow: hidden;
}

.app.scene__screen_full .scene__container {
    display: -webkit-box;   /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;      /* 老版本语法: Firefox (buggy) */
    display: -ms-flexbox;   /* 混合版本语法: IE 10 */  
    display: -webkit-flex;  /* 新版本语法: Chrome 21+ */
    display: flex;          /* 新版本语法: Opera 12.1, Firefox 22+ */
}
.scene__fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
