/* header s */
.scene-about .scene__page-header {
    margin-bottom: 180px;
}
.scene-about .scene__page-header-title-wrap {
    margin-bottom: 96px;
}
/* header e */

/* image s */
.scene-about__image {
    display: block;
    width: 100%;
    height: auto;
}
/* image e */

/* partner s */
.scene-about__partner {
    margin-top: 96px;
}
/* partner e */

/* footer s */
.scene-about .scene__page-footer {
    margin-top: 96px;
}
.scene-about .scene__page-footer-information {
    margin-top: 74px;
}
.scene-about .scene__page-footer-information-site-link i {
    opacity: 1;
}
/* footer e */