.root {
  height: 100%;
}
.app {
  transition: background-color 1s;
  -moz-transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  height: 100%;
}

.app__layout {
  height: 100%;
  padding: 72px 50px;
  position: relative;
  box-sizing: border-box;
}

.app__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
}

.app__footer {
  position: absolute;
  bottom: 27px;
  left: 0;
  right: 0;
  height: 72px;
}

.app__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app__logo-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app__copyright {
  text-align: center;
  transform: rotate(180deg);
  opacity: 0.5;
  font-family: SourceSansPro;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 3.4px;
  color: #1a1a1a;
}

.app__navigator {
  position: absolute;
  top: 50%;
}

.app__navigator-left {
  transform: rotate(90deg);
  left: 0;
}

.app__navigator-right {
  transform: rotate(-90deg);
  left: 0;
}