.scene__category {
    position: relative;
}

/* line s */
.scene__category-line {
    position: absolute;
    bottom: 100%;
    left: 14px;
    margin-bottom: 120px;
    width: 312px;
    height: 1px;
    background-color: #1a1a1a;
    /* transform: rotate(-35deg);
    -ms-transform: rotate(-35deg);
    -moz-transform: rotate(-35deg);
    -webkit-transform: rotate(-35deg);
    -o-transform: rotate(-35deg); */
}
/* line e */

/* box s */
.scene__category-title {
    display: none;
    margin-bottom: 8px;
    height: 48px;
    line-height: 24px;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgba(255, 255, 255, 0.25);
}

.scene__category-item {
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
}
.scene__category-item + .scene__category-item {
    margin-top: 8px;
}
/* box e */

@media screen and (max-width: 768px) {
    .scene__category-title {
        display: block;
    }
    .scene__category-box .scene__category-list {
        display: none;
    }

    .scene__category-box.active .scene__category-title {
        color: #ffffff;
    }
    .scene__category-box.active .scene__category-list {
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .scene__category-line {
        left: 50%;
        margin-left: -156px;
    }
}