/* layout s */
.scene-home {
    width: 100%;
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    overflow: hidden;
}
.scene-home .scene__grid,
.scene-home .scene__grid-inner,
.scene-home__project,
.scene-home__category {
    height: 100%;
}
/* layout e */

/* category s */
.scene-home__category {
    font-size: 0px;
}
.scene-home__category:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 0px;
    height: 100%;
}
.scene-home__category-content {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.scene-home .scene__category-item {
    font-size: 18px;
    color: rgba(255, 255, 255, 0.25);
}
.scene-home .scene__category-item + .scene__category-item {
    margin-top: 0px;
}
.scene-home .scene__category-item_highlight {
    color: #e2e2e2;
}
/* category e */

@media screen and (max-width: 768px) {
    .scene-home__category-content {
        margin-top: -62px;
    }

    .scene-home .scene__category-item + .scene__category-item {
        margin-top: 5px;
    }
}

@media screen and (max-width: 600px) {
    .scene-home__category-content {
        margin-top: -20px;
    }
    .scene-home__category-content .scene__grid-inner {
        white-space: nowrap;
    }
    .scene-home .scene__category-item + .scene__category-item {
        margin-top: 8px;
    }
}