/* layout s */
.scene-login {
    font-size: 0px;
    text-align: center;
    box-flex: 1;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1
}
.scene-login:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 0px;
    height: 100%;
    font-size: 0px;
}
.scene-login__content {
    display: inline-block;
    vertical-align: middle;
    width: 32%;
}
/* layout s */

/* form s */
.scene-login .scene__input-text {
    text-align: center;
}
/* form e */

@media screen and (max-width: 768px) {
    .scene-login__content {
        width: 48%;
    }
}

@media screen and (max-width: 600px) {
    .scene-login__content {
        width: 100%;
    }
}