/* header s */
.sence-detail .sence__page-header {
    margin-bottom: 96px;
}
/* header e */

/* body s */
.sence-detail__box + .sence-detail__box {
    margin-top: 64px;
}
.sence-detail__image {
    display: block;
    width: 100%;
    height: auto;
}
/* body e */

/* carousel s */
.sence-detail .sence__carousel {
    padding: 32px 0;
}
/* carousel e */

/* footer s */
.sence-detail .sence__page-footer-inner {
    padding-top: 32px;
    border-top: 1px solid #646464;
}
/* footer e */