[class*=scene-icon-], [class^=scene-icon-] {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center center;
}

.scene-icon-arrow-right {
    width: 49px;
    height: 39px;
    background-image: url(../image/icon/icon-arrow-right.svg);
}

.scene-icon-white-fb {
    width: 30px;
    height: 30px;
    background-image: url(../image//icon/icon-fb-white.svg); 
}
.scene-icon-white-tw {
    width: 30px;
    height: 30px;
    background-image: url(../image//icon/icon-tw-white.svg); 
}
.scene-icon-white-in {
    width: 30px;
    height: 30px;
    background-image: url(../image//icon/icon-in-white.svg); 
}
.scene-icon-white-ig {
    width: 30px;
    height: 30px;
    background-image: url(../image//icon/icon-ig-white.svg); 
}
.scene__page-footer-information-site-link:hover .scene-icon-white-fb {
    background-image: url(../image/icon/icon-fb-white-active.svg);
}
.scene__page-footer-information-site-link:hover .scene-icon-white-tw {
    background-image: url(../image/icon/icon-tw-white-active.svg);
}
.scene__page-footer-information-site-link:hover .scene-icon-white-in {
    background-image: url(../image/icon/icon-in-white-active.svg);
}
.scene__page-footer-information-site-link:hover .scene-icon-white-ig {
    background-image: url(../image/icon/icon-ig-white-active.svg);
}

.scene-icon-black-fb {
    width: 30px;
    height: 30px;
    background-image: url(../image//icon/icon-fb-black.svg); 
}
.scene-icon-black-tw {
    width: 30px;
    height: 30px;
    background-image: url(../image//icon/icon-tw-black.svg); 
}
.scene-icon-black-in {
    width: 30px;
    height: 30px;
    background-image: url(../image//icon/icon-in-black.svg); 
}
.scene-icon-black-ig {
    width: 30px;
    height: 30px;
    background-image: url(../image//icon/icon-ig-black.svg); 
}
.scene__page-footer-information-site-link:hover .scene-icon-black-fb {
    background-image: url(../image/icon/icon-fb-black-active.svg);
}
.scene__page-footer-information-site-link:hover .scene-icon-black-tw {
    background-image: url(../image/icon/icon-tw-black-active.svg);
}
.scene__page-footer-information-site-link:hover .scene-icon-black-in {
    background-image: url(../image/icon/icon-in-black-active.svg);
}
.scene__page-footer-information-site-link:hover .scene-icon-black-ig {
    background-image: url(../image/icon/icon-ig-black-active.svg);
}