
/* project s */
.scene__project-item {
    line-height: 72px;
    font-size: 64px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.25);
    transition: color .35s;
}

.scene__project-item:hover {
    color: rgba(255, 255, 255, 1);
}

.scene__project-item_highlight {
    color: #ffffff;
}
/* project e */

@media screen and (max-width: 1024px) {
    .scene__project-item {
        line-height: 64px;
        font-size: 56px;
        color: rgba(255, 255, 255, 1);
    }
}

@media screen and (max-width: 600px) {
    .scene__project-item {
        line-height: 58px;
        font-size: 48px;
    }
}