.scene__thumbnail-object {
    margin: 0 auto;
    width: auto;
    height: 80px;
    position: relative;
    /* background-color: #ddd; */
}
.scene__thumbnail-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: auto;
}

.scene__thumbnail .scene__grid-inner {
    margin-bottom: -64px;
}
.scene__thumbnail .scene__grid [class*=col-], 
.scene__thumbnail .scene__grid [class^=col-] {
    margin-bottom: 64px;
}

@media screen and (max-width: 1024px) {
    .scene__thumbnail-object {
        height: 64px;
    }

    .scene__thumbnail .scene__grid-inner {
        margin-bottom: -48px;
    }
    .scene__thumbnail .scene__grid [class*=col-], 
    .scene__thumbnail .scene__grid [class^=col-] {
        margin-bottom: 48px;
    }
}

@media screen and (max-width: 768px) {
    .scene__thumbnail-object {
        height: 60px;
    }

    .scene__thumbnail .scene__grid-inner {
        margin-bottom: -44px;
    }
    .scene__thumbnail .scene__grid [class*=col-], 
    .scene__thumbnail .scene__grid [class^=col-] {
        margin-bottom: 44px;
    }
}

@media screen and (max-width: 600px) {
    .scene__thumbnail-object {
        height: 64px;
    }

    .scene__thumbnail .scene__grid-inner {
        margin-bottom: -36px;
    }
    .scene__thumbnail .scene__grid [class*=col-], 
    .scene__thumbnail .scene__grid [class^=col-] {
        margin-bottom: 36px;
    }
}