.root {
  height: 100%;
}
.app {
  transition: background-color 1s;
  -moz-transition: background-color 1s;
  -webkit-transition: background-color 1s;
  -o-transition: background-color 1s;
  /* min-height: 100%; */
  height: 100%;
  position: absolute;
  width: 100%;
  overflow: hidden;
}
.scene {
  height: 100%;
}

.app__scene {
  padding: 72px 105px;
  box-sizing: border-box;
}

.app__layout {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  box-sizing: border-box;
}

/* .app__layout, */
.app__navigation {
  height: 100%;
  padding: 72px 105px;
  position: relative;
  box-sizing: border-box;
}

.app__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 72px;
  z-index: 100;
}

.app__header.fixed {
  position: fixed;
  /* background-color: rgba(255, 255, 255, 0.95) */
}

.app__footer {
  position: relative;
  bottom: 12px;
  left: 0;
  right: 0;
  font-weight: lighter;
}

.app__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app__logo-svg.simple {
  margin-left: -17px;
}

.app__logo-svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.app__copyright {
  text-align: center;
  transform: rotate(180deg) translateY(100%);
  opacity: 0.5;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #1a1a1a;
}

.app__navigator {
  position: fixed;
  top: 50%;
  width: 120px;
  text-align: center;
}

.app__navigator-left {
  transform: rotate(90deg);
  left: -20px;
  color: #fff;
}

.app__navigator-right {
  transform: rotate(-90deg);
  right: -20px;
  color: #fff;
}

.app__navigation-button {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  transition: transform .5s, opacity 1s;
  transform: rotateZ(0deg);
}

.app__navigation-button.open {
  transform: rotateZ(-45deg);
}

.app__navigation {
  opacity: 0.95;
  overflow: hidden;
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  transition: opacity 0.5s;
}

.app__navigation .scene__category-list a {
  pointer-events: none;
}

.app__navigation-content {
  position: relative;
  height: 100%;;
}

.app__navigation-clear {
  position: absolute;
  color: #fff;
  width: 100%;
  font-size: 18px;
  display: none;
}

.app__navigation-button-more {
  position: absolute;
  bottom: 0px;
  color: #1a1a1a;
  width: 100%;
  font-size: 18px;
  text-align: center;
}

.scene-home .app__navigation-clear {
  display: block;
}

.app__navigation-content .scene__grid {
  height: 100%;
}

.app__navigation-content .scene__grid-inner {
  height: 100%;
}
.app__simple-navigation {
  height: 100%;
  transform: perspective(1000);
}
.app__simple-navigation-line {
  margin: auto;
  display: block;
  height: 1px;
  width: 83.2%;
  background-color: #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -41.5%;
  transform: rotate(-25.75deg);
  transition: all 0.5s;
}

.scene-home .app__navigation-clear {
  display: block;
}

.app__navigation .scene__category-item {
  color:rgba(255, 255, 255, 0.25);
}

.app__navigation .scene__category-item_highlight {
  color: #e2e2e2;
}

.scene-home .scene__page-body {
  height: 100%;
}

.scene-home {
  /* height: 800px!important; */
}


.app__header .app__navigation-clear {
  display: block;
  top: 50%;
  left: 105px;
  color:rgba(255, 255, 255, 0.25);
  transform: translate(0, -50%);
}

.app__header .app__navigation-button-more {
  display: bloack;
  color:rgba(0, 0, 0, 0.5);
  text-align: left;
}

.app__header .app__header-background {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 768px) {
  .app__scene {
    padding: 80px 50px;
  }

  .app__navigation.open {
    animation: open 1s;
    display: block;
  }

  .app__navigation.open .active .scene__category-list a {
    pointer-events: all;
  }

  .app__navigation.open .scene__category-list {
    opacity: 0;
    transition: opaicity 1s;
  }

  .app__navigation.open .active .scene__category-list {
    opacity: 1;
  }

  .app__navigation-button {
    left: 50px;
    pointer-events: all;
    opacity: 1;
  }

  .app__outter-navigator {
    display: none;
  }

  .scene-project .app__navigation-more {
    display: none;
  }

  .scene-home .app__navigation-clear {
    bottom: 0px;
    display: block;
  }

  .app__header .app__navigation-clear {
    display: none;
  }

  .scene-home {
    height: auto!important;
  }
}

@media screen and (max-width: 375px) {
  .app__layout,
  .app__navigation {
    padding: 80px 28px;
  }

  .app__navigation-button {
    left: 28px;
  }

  .scene-home {
    height: auto!important;
  }
}

@-webkit-keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.95;
  }
}

@keyframes open {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.95;
  }
}